container_commands:
  #create_log_file:
  #  command: "touch /opt/python/log/app.log"
  #change_log_permissions:
  #  command: "chmod g+s /opt/python/log"
  #change_logs_owner:
  #  command: "chown root:wsgi /opt/python/log"
  collectstatic:
    command: "source $(find /var/app/venv/ -name activate) && python manage.py collectstatic --noinput"
  migrate:
    command: "source $(find /var/app/venv/ -name activate) && python manage.py migrate --noinput"
    leader_only: true
