option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: testapp.settings.development
  aws:elasticbeanstalk:container:python:
    WSGIPath: testapp.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /html: statichtml
    /images: staticimages
  aws:ec2:instances:
    InstanceTypes: 't3a.nano'
