option_settings:
  aws:ec2:instances:
    InstanceTypes: 't3a.nano'
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: testapp.settings.production
    RDS_DB_NAME: testappdb
    RDS_USERNAME: testappdbroot
    RDS_PASSWORD: testappdbpassword
    RDS_HOSTNAME: testapp.cluster-clrhzo2xv4nf.us-east-1.rds.amazonaws.com
    RDS_PORT: 3306
  aws:elasticbeanstalk:container:python:
    WSGIPath: testapp.wsgi:application
  aws:elasticbeanstalk:environment:
    EnvironmentType: LoadBalanced
    LoadBalancerType: application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static
